c-feed {
  max-width: 700px;
  margin: 16px;
  width: 100%;
  border-radius: var(--border-radius-large);
  background: var(--background-secondary);
  padding: 48px;
  padding-top: 16px;
  color: var(--text-primary);

  #new-post-btn {
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    right: 20px;
    height: 28px;
    overflow: hidden;
    margin-left: -74px;
    margin-bottom: 28px;
    z-index: 2;

    &[square] {
      min-width: 28px;
      width: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #posts {
    display: flex;
    flex-direction: column;
  }
}
