* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Code', monospace, sans-serif;
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
  /* Disables highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Stops highlight on buttons for mobile */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

// -------- Custom Scrollbar --------
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  // overflow-x: hidden;
  background: #14141a;
  min-height: 100vh;
}

a,
h1,
h2 {
  color: #f0f6fc;
  color: var(--text-primary);
}

a {
  color: var(--text-action);
  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
  }
}

h1 {
  font-size: 24px;
}

.btn-primary {
  margin: 0 12px;
  padding: 4px 16px;
  color: var(--text-action);
  border-radius: 4px;
  transition: var(--transition);
  border: 1px solid var(--btn-border);
  text-transform: capitalize;
  background: var(--btn-primary);
  color: var(--btn-primary-color);
  cursor: pointer;
  outline: none;
  font-family: auto;
  min-width: 86px;

  &:hover {
    color: var(--btn-primary-color-hover);
    background: var(--btn-primary-hover);
  }

  &[disabled] {
    background: var(--btn-primary-disabled);
    border-color: transparent;
    cursor: default;
  }
}
.btn-light {
  @extend .btn-primary;
  color: white;
  font-weight: 400;
  margin: 0;

  &:hover {
    color: white;
  }
}

.btn-negative {
  @extend .btn-primary;
  background: var(--btn-negative);
  border-color: var(--btn-negative);

  &:hover {
    background: var(--btn-negative-hover);
  }
}

:root {
  // Text colours
  --text-primary: #ffffff;
  --text-sub: #93b6d6;
  --text-action: #6cadf8;
  --text-dark: var(--background-primary);

  --background-primary: #14141a;
  --background-secondary: #21212c;
  --background-secondary: #223151;
  --background-tertiary: #282c39;
  --background-contrast: white;

  --btn-border: #3676dd;
  --btn-primary: #3676dd;
  --btn-primary-disabled: #5e7397;
  --btn-primary-hover: #2c68c9;
  --btn-primary-color: white;
  --btn-primary-color-hover: white;
  --btn-negative: #c71939e8;
  --btn-negative-hover: #8d1323;
  --btn-negative-disabled: #a4374b;

  --transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1);

  --card-background: white;
  --card-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  --input-border: 1px solid var(--text-action);
  --input-border-invalid: 1px solid red;

  --tab-background-hover: #1d2b49;
  --tab-background-active: #182541;

  --divider-color: var(--background-primary);

  --profile-placeholder-fill: #6cadf8;

  // Standard styling
  --body-max-width: 1500px;
  --body-padding: 0 32px;
  --border-radius: 4px;
  --border-radius-large: 8px;
}

:root[light] {
  --text-primary: #242424;
  --background-primary: #1d70f5;
}
