c-comments {
  color: var(--text-primary);
  flex-grow: 1;
  // padding: 8px;
  display: flex;
  flex-direction: column;

  #loading {
    padding: 16px;
  }

  #comments-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 16px;

    #comment {
      margin-bottom: 16px;
      border-bottom: 1px solid var(--divider-color-light);
      display: flex;

      .left {
        flex-grow: 1;

        .name {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: var(--text-action);

          svg,
          img {
            margin-right: 8px;
            height: 24px;
            width: 24px;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .time {
          font-size: 12px;
          color: var(--text-sub);
          font-style: italic;
          padding: 2px 32px;
        }

        .content {
          padding: 8px 0;
          margin-left: 32px;
        }
      }

      .right {
        #delete {
          cursor: pointer;
          padding: 2px;
          border-radius: var(--border-radius-large);
          transition: var(--transition);

          &:hover {
            fill: var(--btn-negative-hover);
          }
        }
      }
    }
  }

  #new-comment {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--divider-color-light);

    textarea {
      flex-grow: 1;
      padding: 8px;
      border: none;
      outline: none;
      border-right: 1px solid var(--divider-color-light);
      resize: none;
      background: var(--background-secondary);
      color: var(--text-primary);
    }

    button {
      font-size: 18px;
    }
  }
}
