c-post {
  width: 100%;
  background: var(--background-contrast-4);
  color: var(--text-primary);
  border-radius: 8px;
  margin-bottom: 42px;
  position: relative;
  // padding: 8px;
  // padding-top: 16px;
  fill: var(--profile-placeholder-fill);
  // border: 1px solid var(--background-primary);
  overflow: hidden;

  #user-info {
    background: var(--background-contrast-4);
    padding: 12px 14px;
    display: flex;
    align-items: center;

    img,
    svg {
      width: 28px;
      height: 28px;
    }

    .right {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
    }

    .name {
      cursor: pointer;
      color: var(--text-sub-2);

      &:hover {
        text-decoration: underline;
      }
    }

    #date {
      font-size: 12px;
      color: var(--text-sub);
    }
  }

  & > #content {
    color: var(--text-primary);
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 16px;
    padding-left: 32px;
  }

  #interaction-info {
    padding: 8px;
    color: var(--text-primary);
    // background: var(--background-primary);
    // box-shadow: var(--card-box-shadow-small);
    // border-radius: var(--border-radius-large);
    // border: 1px solid var(--background-contrast);
    // position: absolute;
    // right: -8px;
    // bottom: -8px;
    display: flex;
    // padding: 4px 12px;
    align-items: center;
    overflow: hidden;
    justify-content: flex-end;

    svg {
      height: 20px;
      width: 20px;
      margin-left: 6px;
    }

    #edit,
    #delete {
      svg {
        margin-left: 0;
      }
    }

    #edit,
    #delete,
    #likes,
    #comments {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-large);
      justify-content: center;
      padding: 4px 12px;

      &:hover {
        background: var(--background-secondary);
        // text-decoration: underline;
      }
    }

    #likes {
      &[liked] {
        svg {
          fill: var(--btn-negative);
        }
      }
    }
  }
}
