c-user {
  display: flex;
  background: var(--background-secondary);
  border-radius: var(--border-radius-large);
  padding: 8px 12px;
  margin: 4px 0;
  justify-content: flex-start;
  align-items: center;

  svg {
    fill: var(--profile-placeholder-fill);
  }

  img,
  svg {
    border-radius: var(--border-radius);
    width: 28px;
    height: 28px;
  }

  .name {
    flex-grow: 1;
    margin-left: 12px;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .follows-you {
    margin-left: 12px;
    color: var(--text-sub);
  }

  .btn-negative {
    margin-left: 0;
  }
}
